# Go generated
go.mod
go.sum

# Build files
*.exe
*.pyc
*.log
*.csv

# video and audio files
*.ogg
*.ivf
*.m4a
*.mp4
*.opus
*.h264

# configuration files
config.json

# Directories
/logs
/known_faces
/pipe
*/jsfiddle
